{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Personal banking|Savings account</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

<!--    &lt;!&ndash; Favicon &ndash;&gt;-->
<!--    <link href="img/logo.png" rel="icon">-->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<div>
    <!-- Topbar Start -->
    <div class="container-fluid bg-secondary ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <a class="text-body py-2 pe-3 border-end" href=""><small>FAQs</small></a>-->
<!--                    <a class="text-body py-2 px-3 border-end" href=""><small>Support</small></a>-->
<!--                    <a class="text-body py-2 px-3 border-end" href=""><small>Privacy</small></a>-->
<!--                    <a class="text-body py-2 px-3 border-end" href=""><small>Policy</small></a>-->
<!--                    <a class="text-body py-2 ps-3" href=""><small>Career</small></a>-->
<!--                </div>-->

            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>ABC@example.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

<!--"far fa text-primary me-2"-->
    <!-- Navbar Start -->
<!--    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="index.html" class="navbar-brand p-0">
            <link href="{% static 'img/logo.png' %}' %}" rel="icon">
            <a class="navbar-brand" href="index1.html"><img src="{% static 'img/logo1.png' %}"></a>
<!--            <h1 class="m-0 text-uppercase text-primary"><i class="far fa text-smile primary me-2"></i>ABC</h1>-->

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 me-n3">
                <a href="/" class="nav-item nav-link active" >Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Branches</a>
                    <div class="dropdown-menu m-0">
                        <a href="https://en.wikipedia.org/wiki/Palakkad" class="dropdown-item">Palakkad</a>
                        <a href="https://en.wikipedia.org/wiki/Thrissur" class="dropdown-item">Thrissur</a>
                        <a href="https://en.wikipedia.org/wiki/Kottayam" class="dropdown-item">Kottayam</a>
                        <a href="https://en.wikipedia.org/wiki/Alappuzha" class="dropdown-item">Alappuzha</a>
                        <a href="https://en.wikipedia.org/wiki/Malappuram" class="dropdown-item">Malappuram</a>
                    </div>
                </div>

<!--                  <p><a class="btn btn-warning" href="/login" role="button" >LOGIN<a/></p>-->
<!--                -->
<!--                <li><a class="nav-item nav-link active" href="/register">Register</a></li>-->
                <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">LOGIN</a>
                <a href="/register" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">REGISTER</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div >
                    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" width=100% alt="Image">
                    <div class="p-3" style="max-width: 900px;">
                    </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid bg-secondary p-0">
        <div class="row g-0">
            <div class="col-lg-6 py-6 px-5">
                <h1 class="display-5 mb-4">Welcome To <span class="text-primary">ABC bank</span></h1>
                <p class="mb-4">ABC Bank's first acquisition took place in 1961 when it acquired Bank of Kerala. This had been founded in September 1944 and at the time of its acquisition on 20 May 1961 had three branches. The second bank that Canara Bank acquired was Seasia Midland Bank (Alleppey), which had been established on 26 July 1930 and had seven branches at the time of its takeover.</p>
            </div>
            <div class="col-lg-6">
                <div class="h-100 d-flex flex-column justify-content-center bg-primary p-5">
                    <div class="d-flex text-white mb-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                            <i class="fa fa-sticky-note fs-4"></i>
                        </div>
                        <div class="ps-4">
                            <h3>Banking</h3>
                            <p class="mb-0">lend this money, generating interest that creates profits for the bank and its customers. A bank is a financial institution licensed to accept deposits and make loans.</p>
                        </div>
                    </div>
                    <div class="d-flex text-white mb-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                            <i class="fa fa-chart-line fs-4"></i>
                        </div>
                        <div class="ps-4">
                            <h3>Credit Facilities</h3>
                            <p class="mb-0">A credit facility often allows a company to have greater control over the amount of debt, timing of debt, and use of funds compared to other types of lending agreements.</p>
                        </div>
                    </div>
                    <div class="d-flex text-white">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                            <i class="fa fa-signal fs-4"></i>
                        </div>
                        <div class="ps-4">
                            <h3>Invest and Insurance</h3>
                            <p class="mb-0">Investment plan is the simplest ways to build wealth over the time. Life insurance companies offer various investment plan options. These are the wealth creation products for the future when you will require it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid pt-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 mb-0">What We Offer</h1>
            <hr class="w-25 mx-auto bg-primary">
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-secondary text-center px-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                        <i class="fa fa-industry fa-2x"></i>
                    </div>
                    <h3 class="mb-3">Get instant Loan approval</h3>
                    <p class="mb-0">Easy access to loans for various reasons like marriage, home renovation, higher education, etc ,Affordable interest rates and other charges ,Minimal documentation process</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-secondary text-center px-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                        <i class="fa fa-chart-pie fa-2x"></i>
                    </div>
                    <h3 class="mb-3">Card Services</h3>
                    <p class="mb-0">It is simple to use and makes transactions fast, easy and convenient</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-secondary text-center px-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                        <i class="fa fa-chart-line fa-2x"></i>
                    </div>
                    <h3 class="mb-3">Quick Analysis</h3>
                    <p class="mb-0">quick access to all problems</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-secondary text-center px-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                        <i class="fa fa-chart-area fa-2x"></i>
                    </div>
                    <h3 class="mb-3">Financial Analaysis</h3>
                    <p class="mb-0">Based on finanancial status of each person</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-secondary text-center px-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                        <i class="fa fa-life-ring fa-2x"></i>
                    </div>
                    <h3 class="mb-3">Digital Products</h3>
                    <p class="mb-0">Digital products are here for our easy use.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-secondary text-center px-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                        <i class="fa fa-tasks fa-2x"></i>
                    </div>
                    <h3 class="mb-3">Tax & Insurance</h3>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor ipsum amet eos erat ipsum lorem et sit sed stet lorem</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Features Start -->
    <div class="container-fluid py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 mb-0">Why Choose Us!!!</h1>
            <hr class="w-25 mx-auto bg-primary">
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes fs-4 text-white"></i>
                        </div>
                        <h3>Best Interest</h3>
<!--                        <p class="mb-0">Magna sea eos sit dolor, ipsum amet ipsum lorem diam dolor eos diam et diam dolor ea</p>-->
                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-percent fs-4 text-white"></i>
                        </div>
                        <h3>99% Success Rate</h3>

                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award fs-4 text-white"></i>
                        </div>
                        <h3>Best Service</h3>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-block bg-primary h-100 text-center">
                    <img class="img-fluid" src="{% static 'img/ABC1.jpg' %}" alt="">
                    <div class="p-4">
                        <p class="text-white mb-4">The bank descends from the Bank of Calcutta, founded in 1806 via the Imperial Bank of India, making it the oldest commercial bank in the Indian subcontinent. The Bank of Madras merged into the other two presidency banks in British India, the Bank of Calcutta and the Bank of Bombay, to form the Imperial Bank of India, which in turn became the State Bank of India in 1955.[13] Overall the bank has been formed from the merger and acquisition of nearly twenty banks over the course of its 200 year history.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="far fa-smile-beam fs-4 text-white"></i>
                        </div>
                        <h3>100% Happy Client</h3>

                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-user-tie fs-4 text-white"></i>
                        </div>
                        <h3>Professional Advisors</h3>

                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-headset fs-4 text-white"></i>
                        </div>
                        <h3>24/7 Customer Support</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->


<!--    &lt;!&ndash; Quote Start &ndash;&gt;-->
<!--    <div class="container-fluid bg-secondary px-0">-->
<!--        <div class="row g-0">-->
<!--            <div class="col-lg-6 py-6 px-5">-->
<!--                <h1 class="display-5 mb-4">Request A Free Quote</h1>-->
<!--                <p class="mb-4">Kasd vero erat ea amet justo no stet, et elitr no dolore no elitr sea kasd et dolor diam tempor. Nonumy sed dolore no eirmod sit nonumy vero lorem amet stet diam at. Ea at lorem sed et, lorem et rebum ut eirmod gubergren, dolor ea duo diam justo dolor diam ipsum dolore stet stet elitr ut. Ipsum amet labore lorem lorem diam magna sea, eos sed dolore elitr.</p>-->
<!--                <form>-->
<!--                    <div class="row gx-3">-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-floating">-->
<!--                                <input type="text" class="form-control" id="form-floating-1" placeholder="John Doe">-->
<!--                                <label for="form-floating-1">Full Name</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input type="email" class="form-control" id="form-floating-2" placeholder="name@example.com">-->
<!--                                <label for="form-floating-2">Email address</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-floating">-->
<!--                                <select class="form-select" id="floatingSelect" aria-label="Financial Consultancy">-->
<!--                                    <option selected>Financial Consultancy</option>-->
<!--                                    <option value="1">Strategy Consultancy</option>-->
<!--                                    <option value="2">Tax Consultancy</option>-->
<!--                                </select>-->
<!--                                <label for="floatingSelect">Select A Service</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <button class="btn btn-primary w-100 h-100" type="submit">Request A Quote</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="col-lg-6" style="min-height: 400px;">-->
<!--                <div class="position-relative h-100">-->
<!--                    <img class="position-absolute w-100 h-100" src="img/quote.jpg" style="object-fit: cover;">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Quote End &ndash;&gt;-->


<!--    &lt;!&ndash; Team Start &ndash;&gt;-->
<!--    <div class="container-fluid py-6 px-5">-->
<!--        <div class="text-center mx-auto mb-5" style="max-width: 600px;">-->
<!--            <h1 class="display-5 mb-0">Our Team Members</h1>-->
<!--            <hr class="w-25 mx-auto bg-primary">-->
<!--        </div>-->
<!--        <div class="row g-5">-->
<!--            <div class="col-lg-4">-->
<!--                <div class="team-item position-relative overflow-hidden">-->
<!--                    <img class="img-fluid w-100" src="img/team-1.jpg" alt="">-->
<!--                    <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">-->
<!--                        <h3 class="text-white">Full Name</h3>-->
<!--                        <p class="text-white text-uppercase mb-0">Designation</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="team-item position-relative overflow-hidden">-->
<!--                    <img class="img-fluid w-100" src="img/team-2.jpg" alt="">-->
<!--                    <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">-->
<!--                        <h3 class="text-white">Full Name</h3>-->
<!--                        <p class="text-white text-uppercase mb-0">Designation</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="team-item position-relative overflow-hidden">-->
<!--                    <img class="img-fluid w-100" src="img/team-3.jpg" alt="">-->
<!--                    <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">-->
<!--                        <h3 class="text-white">Full Name</h3>-->
<!--                        <p class="text-white text-uppercase mb-0">Designation</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Team End &ndash;&gt;-->


<!--    &lt;!&ndash; Testimonial Start &ndash;&gt;-->
<!--    <div class="container-fluid bg-secondary p-0">-->
<!--        <div class="row g-0">-->
<!--            <div class="col-lg-6" style="min-height: 500px;">-->
<!--                <div class="position-relative h-100">-->
<!--                    <img class="position-absolute w-100 h-100" src="img/testimonial.jpg" style="object-fit: cover;">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 py-6 px-5">-->
<!--                <h1 class="display-5 mb-4">What Say Our Client!!!</h1>-->
<!--                <div class="owl-carousel testimonial-carousel">-->
<!--                    <div class="testimonial-item">-->
<!--                        <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat dolor rebum sit ipsum.</p>-->
<!--                        <div class="d-flex align-items-center">-->
<!--                            <img class="img-fluid rounded-circle" src="img/testimonial-1.jpg" alt="">-->
<!--                            <div class="ps-4">-->
<!--                                <h3>Client Name</h3>-->
<!--                                <span class="text-uppercase">Profession</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="testimonial-item">-->
<!--                        <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat dolor rebum sit ipsum.</p>-->
<!--                        <div class="d-flex align-items-center">-->
<!--                            <img class="img-fluid rounded-circle" src="img/testimonial-2.jpg" alt="">-->
<!--                            <div class="ps-4">-->
<!--                                <h3>Client Name</h3>-->
<!--                                <span class="text-uppercase">Profession</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Testimonial End &ndash;&gt;-->


<!--    &lt;!&ndash; Blog Start &ndash;&gt;-->
<!--    <div class="container-fluid py-6 px-5">-->
<!--        <div class="text-center mx-auto mb-5" style="max-width: 600px;">-->
<!--            <h1 class="display-5 mb-0">Latest Blog Post</h1>-->
<!--            <hr class="w-25 mx-auto bg-primary">-->
<!--        </div>-->
<!--        <div class="row g-5">-->
<!--            <div class="col-lg-4">-->
<!--                <div class="blog-item">-->
<!--                    <div class="position-relative overflow-hidden">-->
<!--                        <img class="img-fluid" src="img/blog-1.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="bg-secondary d-flex">-->
<!--                        <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">-->
<!--                            <span>01</span>-->
<!--                            <h5 class="text-uppercase m-0">Jan</h5>-->
<!--                            <span>2045</span>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-column justify-content-center py-3 px-4">-->
<!--                            <div class="d-flex mb-2">-->
<!--                                <small class="text-uppercase me-3"><i class="bi bi-person me-2"></i>Admin</small>-->
<!--                                <small class="text-uppercase me-3"><i class="bi bi-bookmarks me-2"></i>Web Design</small>-->
<!--                            </div>-->
<!--                            <a class="h4" href="">Magna sea dolor ipsum amet lorem eos</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="blog-item">-->
<!--                    <div class="position-relative overflow-hidden">-->
<!--                        <img class="img-fluid" src="img/blog-2.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="bg-secondary d-flex">-->
<!--                        <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">-->
<!--                            <span>01</span>-->
<!--                            <h5 class="text-uppercase m-0">Jan</h5>-->
<!--                            <span>2045</span>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-column justify-content-center py-3 px-4">-->
<!--                            <div class="d-flex mb-2">-->
<!--                                <small class="text-uppercase me-3"><i class="bi bi-person me-2"></i>Admin</small>-->
<!--                                <small class="text-uppercase me-3"><i class="bi bi-bookmarks me-2"></i>Web Design</small>-->
<!--                            </div>-->
<!--                            <a class="h4" href="">Magna sea dolor ipsum amet lorem eos</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="blog-item">-->
<!--                    <div class="position-relative overflow-hidden">-->
<!--                        <img class="img-fluid" src="img/blog-3.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="bg-secondary d-flex">-->
<!--                        <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">-->
<!--                            <span>01</span>-->
<!--                            <h5 class="text-uppercase m-0">Jan</h5>-->
<!--                            <span>2045</span>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-column justify-content-center py-3 px-4">-->
<!--                            <div class="d-flex mb-2">-->
<!--                                <small class="text-uppercase me-3"><i class="bi bi-person me-2"></i>Admin</small>-->
<!--                                <small class="text-uppercase me-3"><i class="bi bi-bookmarks me-2"></i>Web Design</small>-->
<!--                            </div>-->
<!--                            <a class="h4" href="">Magna sea dolor ipsum amet lorem eos</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Blog End &ndash;&gt;-->
<!--    -->

    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-secondary p-5">
        <div class="row g-5">
            <div class="col-12 text-center">
                <h1 class="display-5 mb-4">Stay Update!!!</h1>
                <form class="mx-auto" style="max-width: 600px;">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                        <button class="btn btn-dark px-4">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--    <div class="container-fluid bg-dark text-secondary p-5">-->
<!--        <div class="row g-5">-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h3 class="text-white mb-4">Quick Links</h3>-->
<!--                <div class="d-flex flex-column justify-content-start">-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog Post</a>-->
<!--                    <a class="text-secondary" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h3 class="text-white mb-4">Popular Links</h3>-->
<!--                <div class="d-flex flex-column justify-content-start">-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>-->
<!--                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog Post</a>-->
<!--                    <a class="text-secondary" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h3 class="text-white mb-4">Get In Touch</h3>-->
<!--                <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>123 kochi,kerala</p>-->
<!--                <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>ABC@example.com</p>-->
<!--                <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+012 345 67890</p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h3 class="text-white mb-4">Follow Us</h3>-->
<!--                <div class="d-flex">-->
<!--                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>-->
<!--                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>-->
<!--                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>-->
<!--                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram fw-normal"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="container-fluid bg-dark text-secondary text-center border-top py-4 px-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="m-0">&copy; <a class="text-secondary border-bottom" href="#">ABC</a> Bank pvt ltd.All rights Reserved <a class="text-secondary border-bottom"</a></p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>